{% extends 'base.html' %}





{% block content %}
<!-- Couverture -->
<div class="hero min-h-[70vh] relative">

    <img 
        src="https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1400&q=80" 
        class="absolute inset-0 w-full h-full object-cover"
        alt="Couverture informatique"
    />

    <div class="hero-overlay bg-black/60"></div>

    <div class="hero-content text-center text-neutral-content relative">
        <div class="max-w-xl">
            <div class="mb-8">
                {% if user.is_authenticated %}
                <span class="mr-4 font-bold text-4xl">
                    BIENVENUE 
                    <strong class="text-secondary p-2">
                        {{ user.username.upper }}
                    </strong>
                </span>
            {% endif %}
            </div>
            
            <h1 class="text-4xl md:text-6xl font-bold">
                💻 Inspirez-vous, codez, innovez !
            </h1>
            <p class="mb-5 text-lg md:text-xl">
                Un espace dédié aux passionnés du numérique, 
                où chaque ligne de code construit l’avenir.
            </p>
            <a href="{% url 'blog:home' %}" class="btn btn-primary btn-lg">
                Découvrir les articles
            </a>
        </div>
    </div>

</div>



<div class="">
{% for article in articles %}
<!--Nouveau design-->
<div class="hero min-h-screen bg-base-200 flex flex-col">
  <div class="hero-content flex-col lg:flex-row">
    {% if article.image %}
    <img src="{{ article.image.url }}" class="max-w-sm rounded-lg shadow-2xl" />
    {% else %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3TXTxHxOkvA3GQiZfsObHbecQPPzsxl0GWw&s" class="max-w-sm rounded-lg shadow-2xl" />
    {% endif %} 
    <div class="w-full">
        <h1 class="text-5xl font-bold mr-10">{{ article.titre }}</h1>
        <h2 class="py-6 mb-5 font-bold">{{ article.resume_desc }}</h2>
        <div class="flex justify-center badge badge-soft badge-info mb-4">
            <div class="inline-grid *:[grid-area:1/1]">
                <div class="status status-error animate-ping"></div>
                <div class="status status-error"></div>
            </div> 
            <p class="">
            Créé le {{ article.date_creation|date:"d/m/Y" }}
            {% if article.is_updated %} | Mis à jour le {{ article.date_modif|date:"d/m/Y" }} 
            {% endif %} | Par {{ article.auteur }}
        </p>
        </div>
        <div class="flex justify-center">
            <a href="{{ article.get_absolute_url }}" class="btn btn-primary m-5">Voir</a>

            {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'blog:edit' article.id %}" class="btn btn-primary m-5">✏️ Modifier</a>
            {% endif %}
        </div>
        <!--Commentaire-->
    </div>
  </div>
</div>
{% empty %}
<div class="alert alert-info shadow-lg h-60 flex items-center justify-center text-center font-bold text-lg">
   <div>
      <span>Aucun article trouvé. Revenez plus tard !</span>
   </div>
{% endfor %}

</div>




{% endblock %}

